

/*menu*/
header{
    width: 100%;
    background: #000;
    height: 80px;
}

.ancho{
    width: 80%;
    height: 70px;
    margin:auto
}

.logo{
    width: 30%;
    height: 70px;
    float: left;
    padding-top: 10px;
    box-sizing: border-box;
}

.logo img{
    height:50px;
}

nav{
    width: 70%;
    height: 70px;
    float: left;
    text-align: right;
    padding-top: 24px;
    box-sizing: border-box;
}

nav ul li{
    display: inline;
    font-family: 'Raleway', sans-serif;
}

nav ul li a{
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    padding-left: 15px;
   
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
}

nav ul li a:hover{
    color: #055DF6;
}

 .active a {
    color: #055DF6;
}


/*menu*/
header{
    width: 100%;
    background: #000;
    height: 80px;
}

.ancho{
    width: 80%;
    height: 70px;
    margin:auto
}

.logo{
    width: 30%;
    height: 70px;
    float: left;
    padding-top: 10px;
    box-sizing: border-box;
}

.logo img{
    height:50px;
}

nav{
    width: 70%;
    height: 70px;
    float: left;
    text-align: right;
    padding-top: 24px;
    box-sizing: border-box;
}

nav ul li{
    display: inline;
    font-family: 'Raleway', sans-serif;
}

nav ul li a{
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    padding-left: 15px;
   
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
}

nav ul li a:hover{
    color: #055DF6;
}

 .active a {
    color: #055DF6;
}


/*andmi**/
.intent{
    background-color: #000;
   /* margin-top: -5em;
    padding-top: 5em;
    padding-bottom: 1em;**/
    
}

.intent, .gg-elemento{
    padding-top: 1em;
    padding-bottom: 1em;
}

.gg-elemento{
    color:white;
}

.gg-elemento:hover{
    background-color: #2b2b2b !important;
    color: #f9a826;
}
.intent ul li a{
    
    text-decoration: none;
    color: #fff;
}

.intent ul li{
    padding: 10px;
    align-items: center;
    display: flex;
  justify-content: center;
  align-items: center;
}



.intent ul li:hover{
    
    background-color: #055DF6;
}

#gg-pendientes{
    background-color: deepskyblue;
}

#gg-denegados{
    background-color: #029ac4;
}

#gg-aceptados{
    background-color: #394a66;
}
 

