

/*menu*/
header{
    width: 100%;
    background: #000;
    height: 80px;
}

.ancho{
    width: 80%;
    height: 70px;
    margin:auto
}

.logo{
    width: 30%;
    height: 70px;
    float: left;
    padding-top: 10px;
    box-sizing: border-box;
}

.logo img{
    height:50px;
}

nav{
    width: 70%;
    height: 70px;
    float: left;
    text-align: right;
    padding-top: 24px;
    box-sizing: border-box;
}

nav ul li{
    display: inline;
    font-family: 'Raleway', sans-serif;
}

nav ul li a{
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    padding-left: 15px;
   
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
}

nav ul li a:hover{
    color: #055DF6;
}

 .active a {
    color: #055DF6;
}
/*custom font*/


/*basic reset*/
* {margin: 0; padding: 0;}

html {
  font-family: 'Raleway', sans-serif;
	height: 1100px;
	/*Image only BG fallback*/
	
	/*background = gradient + image pattern combo*/
	background: 
		linear-gradient(rgb(44, 43, 43), #f2f2f2);
}

body {
	font-family: 'Raleway', sans-serif;
}
/*form styles*/

.next .next1{
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}
#msform {
	width: 90%;
	font-family: 'Raleway', sans-serif;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	font-family: 'Raleway', sans-serif;
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #055DF6;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
  margin: 10px 5px;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
}
#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #055DF6;
  background: #055DF6;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}


/*headings*/

.fs-title2 {
	font-size: 18px;
	text-transform: uppercase;
	color: #055DF6 !important;
  margin-bottom: 10px;
  margin-left: 50px !important;
  margin-right: 100px !important;
  font-weight: bold;
  font-family: 'Raleway', sans-serif !important;
}
.fs-title {
	font-size: 18px;
	text-transform: uppercase;
	color: #055DF6 !important;
  margin-bottom: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: 'Raleway', sans-serif !important;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif  !important; 
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 11px;
	width: 25%;
	float: left;
  position: relative;
  font-family: 'Raleway', sans-serif;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 30px;
	line-height: 30px;
	display: block;
	font-size: 12px;
	color: #333;
	background: white;
	border-radius: 3px;
  margin: 0 auto 5px auto;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
  z-index: -1; /*put it behind the numbers*/
  font-family: 'Raleway', sans-serif;
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
  content: none; 
  font-family: 'Raleway', sans-serif;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background:#055DF6;
  color: #fff;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

.formulario h2 {
  font-size: 16px;
  color: #001F3F;
  margin-bottom: 20px;
  margin-left: 20px; }

.formulario > div {
  padding: 20px 0;
  }


.formulario .checkbox label {
  display: inline-block;
  cursor: pointer;
  color: #055DF6;
  position: relative;
  padding: 5px 15px 5px 51px;
  font-size: 20px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

  
  .formulario .checkbox label:hover {
    background: rgba(24, 9, 231, 0.1); }

  
  .formulario .checkbox label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    position: absolute;
    left: 15px;
    border-radius: 50%;
    background: none;
    border: 3px solid #055DF6; }


.formulario .checkbox label:before {
  border-radius: 3px; }

.formulario .checkbox input[type="checkbox"] {
  display: none; }

  .formulario .checkbox input[type="checkbox"]:checked + label:before {
    display: none; }

  .formulario .checkbox input[type="checkbox"]:checked + label {
    background: #055DF6;
    color: #fff;
    padding: 5px 15px; }

    /**********File Inputs*****/
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.iborrainputfile {
	font-size:16px; 
	font-weight:normal;
	font-family: 'Lato';
}





.inputfile-7 + label {
    color: #055DF6;
}

.inputfile-7 + label {
    border: 1px solid #055DF6;
    background-color: #fff;
    padding: 0;
}

.inputfile-7:focus + label,
.inputfile-7.has-focus + label,
.inputfile-7 + label:hover {
    border-color: #055DF6;
}

.inputfile-7 + label span,
.inputfile-7 + label strong {
    padding: 0.625rem 1.25rem;
}

.inputfile-7 + label span {
	width: 200px;
	
    
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile-7 + label strong {
    
    color: #fff;
    background-color: #055DF6;
	display: inline-block;
	
}

.inputfile-7:focus + label strong,
.inputfile-7.has-focus + label strong,
.inputfile-7 + label:hover strong {
    background-color: #055DF6;
}

@media screen and (max-width: 50em) {
	.inputfile-7 + label strong {
		display: block;
	}
}


.datos{
	display: flex;
  justify-content: space-between;
  
  
}

.nombre {
	width: 800px !important;
	height: 45px !important;
	margin-right: 30px !important;
}

.apellido{
	
	height: 45px;
}

.tipo {
	width: 830px !important;
	height: 45px !important;
  margin-right: 30px !important;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
}

.document{
	
	height: 45px;
	
	
}

.correo {
	width: 800px !important;
	height: 45px !important;
	margin-right: 30px !important;
}

.celul{
	
	height: 45px !important;
}


.tipo2 {
	width: 415px !important;
	height: 45px !important;
  margin-right: 30px !important;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
}

.tipo3 {
	width: 482px !important;
	height: 45px !important;
  
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
}

.tipo4 {
	width: 100% !important;
	height: 45px !important;
  margin-top: 10px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
  display:none;
}


.botones-work{
  overflow: hidden;
}

.botones-work li{
  width: 360px;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 6px 12px;
  margin-right: 15px;
  list-style: none;
  color: #fff;
  border-radius: 5px;
  
  
  background: linear-gradient(-45deg, #EE7752, #E73C7E,rgb(15, 15, 15), rgb(143, 140, 140));
  
  background-size: 400% 400%;
}

.botones-work li:hover{
  background: linear-gradient(-45deg, #EE7752, #F9A826,#055DF6, rgb(1, 50, 143));
  background-size: 350% 400%;
  color: #F9A826;
  font-weight: bold;
  cursor: pointer;

}

.botones-work  .active{
  background: linear-gradient(-45deg, #EE7752, #F9A826,#055DF6, rgb(1, 50, 143));
  background-size: 350% 400%;
 
  color: #F9A826;
  font-weight: bold;
}

.huno{
  font-size: 30px;
  color:#5D6678;
 
  font-weight: 500;
  
}

.galeria-work{
  display:flex;
  flex-wrap: wrap;
  justify-content:  space-around;
}

.galeria-work .cont-work{
  width: 100%;
  
  height: 100%;
  overflow: hidden;
  margin-bottom: 45px;
}

.textos-work{
  height: 10%;
}

.img-work{
  height: 80px;
  width: 100%;
  background: url('../img/fff.png');
  
 
}

.textos{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #F9A826;
  overflow: hidden;
  text-align: center;
}

.textos>h1{
  font-size: 40px;
  font-family: 'Kaushan Script', cursive;
 
}

.htres{
  font-size: 40px;
  text-align: center;
}

.textos-work{
  text-align: justify;
  height: 10%;
}

.hcuatro{
  font-weight: bold;
  color:#000;
  margin-top: 8px;
}
p{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  
}


/**login**/

.modal-container{
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta{

}

.close{
  position: absolute;
  top: 5px;
  right: 5px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #c44a4a;
  color: #fff;
  line-height: 25px;
  cursor: pointer;
  border-radius: 50%;
}

.modal-close{
  transform: translateY(-200%);
}

.login{
  margin-top: 20px;
 font-size: 20px;
 width: 82%;
 padding:10px;
 border: none;
}

.input-conteneddor{
  margin-bottom: 15px;
  border: 1px solid #aaa;
}

.icon{
  min-width: 50px;
  text-align: center;
  color: #999;
}

.botonl{
  height: 50px;
  border:none;
  width: 62%;
  color: white;
  font-size: 20px;
  background: #055DF6;
  padding: 15px 20px;
  border-radius:  5px;
  cursor: pointer;
  margin-top: 20px;
  align-items: center;
  text-align: center;
}
.modal{
  width: 40%;
  height: 50%;
  background: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  transition: transform 1s;
  transform: translateY(0%);
  border-radius: 10px;
 /* overflow: hidden;*/

}

.modal  > img{
 height: 50%;
}








